# MySQL Python connector examples
## Setting up connection

In [ ]:
import mysql.connector as sql

conn = sql.connect(host='localhost', user='root', password='1qaz2wsx', database='university2')

cursor = conn.cursor()

## Reading

In [ ]:
cursor.execute("SELECT first_name, last_name FROM students LIMIT 3")
cursor.fetchall()

## Writing

In [ ]:
cursor.execute("INSERT INTO cohorts (name) VALUES ('CS3')")
cursor.execute("SELECT * FROM cohorts")
cursor.fetchall()

## Do not forgot to commit your changes

In [ ]:
conn.rollback()

In [ ]:
cursor.execute("SELECT * FROM cohorts")
cursor.fetchall()

## Parameters

In [ ]:
sql.paramstyle

In [ ]:
cursor.execute("INSERT INTO cohorts (name) VALUES (%s)", ("blabla",))
# how to get resulting id?

In [ ]:
cursor.execute("SELECT * FROM cohorts")
cursor.fetchall()

## Writing multiple entities

In [ ]:
cursor.executemany("INSERT INTO cohorts (name) VALUES (%s)", [("CS"+str(i),) for i in range(5, 10)])

In [ ]:
cursor.execute("SELECT * FROM cohorts")
cursor.fetchall()

## Description and row factory

In [ ]:
cursor.execute("SELECT * FROM students LIMIT 3")
cursor.fetchall()

In [ ]:
cursor.description

In [ ]:
cursor.column_names

In [ ]:
# cursor.execute("SELECT * FROM students LIMIT 1")
# dict(zip(cursor.column_names, cursor.fetchone()))

## Use pandas to deal with large amounts of data in-memory

In [ ]:
conn = sql.connect(host='localhost', user='root', password='1qaz2wsx', database='kaggle')

cursor = conn.cursor()

# cursor.execute("SHOW TABLES")
# cursor.fetchall()

In [ ]:
# cursor.execute("SELECT * FROM noshow")
# df = [dict(zip(cursor.column_names, row)) for row in cursor.fetchall()]
# len(df)

In [ ]:
# import pandas as pd
# df = pd.read_sql('SELECT * FROM noshow', conn)
# df.head()

## Do not forget to close connection

In [ ]:
conn.close()